doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='libs.css')
        link(rel='stylesheet', href='styles.css')
    body(ng-app='app')
        page

        script(src='libs.js')
        script(src='scripts.js')

        include tags/tag-templates